<a href="https://colab.research.google.com/github/disha1409/MachineLearning/blob/master/project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import numpy as np
import pandas as pd
import seaborn as sb
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from keras.models import Sequential
from keras.layers import Dense

df=pd.read_csv('/content/drive/My Drive/dataset/train_AV3.csv')
df.head()
dft=pd.read_csv('/content/drive/My Drive/dataset/test_AV3.csv')
dft.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001015   Male     Yes  ...            1.0         Urban           Y
1  LP001022   Male     Yes  ...            1.0         Urban           Y
2  LP001031   Male     Yes  ...            1.0         Urban           Y
3  LP001035   Male     Yes  ...            NaN         Urban           Y
4  LP001051   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [55]:
df.drop(['Loan_ID'] , axis = 1, inplace = True)
df.head()

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male      No          0  ...            1.0         Urban            Y
1   Male     Yes          1  ...            1.0         Rural            N
2   Male     Yes          0  ...            1.0         Urban            Y
3   Male     Yes          0  ...            1.0         Urban            Y
4   Male      No          0  ...            1.0         Urban            Y

[5 rows x 12 columns]

In [56]:
dft.drop(['Loan_ID'] , axis = 1, inplace = True)
dft.head()

  Gender Married Dependents  ... Credit_History Property_Area  Loan_Status
0   Male     Yes          0  ...            1.0         Urban            Y
1   Male     Yes          1  ...            1.0         Urban            Y
2   Male     Yes          2  ...            1.0         Urban            Y
3   Male     Yes          2  ...            NaN         Urban            Y
4   Male      No          0  ...            1.0         Urban            Y

[5 rows x 12 columns]

In [58]:
dft.isnull().sum()

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
Loan_Status           0
dtype: int64

In [59]:
count=0
for numberofmales in dft['Gender']:
 if(numberofmales=="Male" ):
   count=count+1

print(count)

sumsofG= dft['Gender'].count()


countF=sumsofG-count
print(countF)
print(sumsofG)

dft['LoanAmount'].fillna(dft['LoanAmount'].mean(),inplace=True)
dft['Self_Employed'].fillna('No',inplace=True)
dft['Gender'].fillna('Male', inplace=True)
dft['Married'].fillna(dft['Married'].mode()[0], inplace=True)
dft['Dependents'].fillna(dft['Dependents'].mode()[0], inplace=True)
dft['Loan_Amount_Term'].fillna(dft['Loan_Amount_Term'].mode()[0], inplace=True)
dft['Credit_History'].fillna(dft['Credit_History'].mode()[0], inplace=True)  

dft['income'] = dft['ApplicantIncome'] + dft['CoapplicantIncome']

286
70
356

In [60]:
df.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [61]:
count=0
for numberofmales in df['Gender']:
 if(numberofmales=="Male" ):
   count=count+1

print(count)

sumsofG= df['Gender'].count()


countF=sumsofG-count
print(countF)
print(sumsofG)

489
112
601

In [0]:
df['LoanAmount'].fillna(df['LoanAmount'].mean(),inplace=True)
df['Self_Employed'].fillna('No',inplace=True)
df['Gender'].fillna('Male', inplace=True)
df['Married'].fillna(df['Married'].mode()[0], inplace=True)
df['Dependents'].fillna(df['Dependents'].mode()[0], inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0], inplace=True)
df['Credit_History'].fillna(df['Credit_History'].mode()[0], inplace=True)  

df['income'] = df['ApplicantIncome'] + df['CoapplicantIncome']

In [63]:
from sklearn.preprocessing import LabelEncoder
Columntobe = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in Columntobe:
    df[i] = le.fit_transform(df[i])
df.dtypes

Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
income               float64
dtype: object

In [67]:
from sklearn.preprocessing import LabelEncoder
Columntobe = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
le = LabelEncoder()
for i in Columntobe:
    dft[i] = le.fit_transform(dft[i])
dft.dtypes

Gender                 int64
Married                int64
Dependents             int64
Education              int64
Self_Employed          int64
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area          int64
Loan_Status            int64
income                 int64
dtype: object

In [0]:
X_train=df.iloc[:,:-1].values
X_test=dft.iloc[:,:-1].values
y_train=df.iloc[:,-1].values
y_test=dft.iloc[:,-1].values

In [0]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [0]:
df.drop(['Self_Employed'],axis=1,inplace=True)

X2 = df.drop(['Loan_Status'],axis =1)
y2 = df['Loan_Status']

In [0]:

X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.5)

In [89]:
abc=[]
classifiers=['Linear Svm','Radial Svm','Logistic Regression','KNN','Decision Tree']
models=[svm.SVC(kernel='linear'),svm.SVC(kernel='rbf'),LogisticRegression(),KNeighborsClassifier(n_neighbors=3),DecisionTreeClassifier()]
for i in models:
    model = i
    model.fit(X2_train,y2_train)
    prediction=model.predict(X2_test)
    abc.append(metrics.accuracy_score(prediction,y2_test))
models_dataframe=pd.DataFrame(abc,index=classifiers)   
models_dataframe.columns=['Accuracy']
models_dataframe

                     Accuracy
Linear Svm           0.723127
Radial Svm           0.690554
Logistic Regression  0.811075
KNN                  0.596091
Decision Tree        0.719870

In [91]:
models=[]
models.append(('DEST',DecisionTreeClassifier()))
models.append(('SVM',SVC()))
models.append(('LR',LogisticRegression()))
models.append(('KNN',KNeighborsClassifier(n_neighbors=5)))
numfolds=3
results=[]
names=[]
for name,modelP in models:
  
  kfold=KFold(n_splits=numfolds)
  cv_results = cross_val_score(modelP,X2_train,y2_train,cv=kfold)
  results.append(cv_results)
  names.append(name)
  print("%s: %f (%f) "%(name,cv_results.mean(),cv_results.std()))

DEST: 0.690431 (0.029253)
SVM: 0.680754 (0.010038)
LR: 0.781490 (0.059620)
KNN: 0.631861 (0.023957)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [92]:
scaler = StandardScaler().fit(X2_train)
rescaledX = scaler.transform(X2_train)
c_values = [0.1, 0.3, 0.5, 0.7, 0.9, 1.0, 1.3, 1.5, 1.7, 2.0]
kernel_values = ['linear', 'poly', 'rbf', 'sigmoid']
param_grid = dict(C=c_values, kernel=kernel_values)
model = SVC()
kfold = KFold(n_splits=numfolds, random_state=21)
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring='accuracy', cv=kfold)
grid_result = grid.fit(rescaledX, y2_train)
print("Best: %s using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

Best: 0.8207373564312456 using {'C': 1.3, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 0.1, 'kernel': 'linear'}
0.710039 (0.038232) with: {'C': 0.1, 'kernel': 'poly'}
0.690558 (0.012039) with: {'C': 0.1, 'kernel': 'rbf'}
0.814170 (0.037277) with: {'C': 0.1, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 0.3, 'kernel': 'linear'}
0.739292 (0.044690) with: {'C': 0.3, 'kernel': 'poly'}
0.801161 (0.036696) with: {'C': 0.3, 'kernel': 'rbf'}
0.817438 (0.033937) with: {'C': 0.3, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 0.5, 'kernel': 'linear'}
0.781553 (0.048905) with: {'C': 0.5, 'kernel': 'poly'}
0.791294 (0.051466) with: {'C': 0.5, 'kernel': 'rbf'}
0.820706 (0.030929) with: {'C': 0.5, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 0.7, 'kernel': 'linear'}
0.794530 (0.058285) with: {'C': 0.7, 'kernel': 'poly'}
0.788026 (0.053925) with: {'C': 0.7, 'kernel': 'rbf'}
0.817438 (0.033937) with: {'C': 0.7, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 0.9, 'kernel': 'linear'}
0.794530 (0.056611) with: {'C': 0.9, 'kernel': 'poly'}
0.788026 (0.053925) with: {'C': 0.9, 'kernel': 'rbf'}
0.817469 (0.026397) with: {'C': 0.9, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 1.0, 'kernel': 'linear'}
0.794530 (0.056611) with: {'C': 1.0, 'kernel': 'poly'}
0.791294 (0.052085) with: {'C': 1.0, 'kernel': 'rbf'}
0.817469 (0.026397) with: {'C': 1.0, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 1.3, 'kernel': 'linear'}
0.797766 (0.061146) with: {'C': 1.3, 'kernel': 'poly'}
0.788026 (0.053925) with: {'C': 1.3, 'kernel': 'rbf'}
0.820737 (0.025092) with: {'C': 1.3, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 1.5, 'kernel': 'linear'}
0.791230 (0.065730) with: {'C': 1.5, 'kernel': 'poly'}
0.788026 (0.053925) with: {'C': 1.5, 'kernel': 'rbf'}
0.807729 (0.020847) with: {'C': 1.5, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 1.7, 'kernel': 'linear'}
0.787994 (0.061190) with: {'C': 1.7, 'kernel': 'poly'}
0.784758 (0.056656) with: {'C': 1.7, 'kernel': 'rbf'}
0.807729 (0.020847) with: {'C': 1.7, 'kernel': 'sigmoid'}
0.814170 (0.037277) with: {'C': 2.0, 'kernel': 'linear'}
0.791262 (0.059576) with: {'C': 2.0, 'kernel': 'poly'}
0.784758 (0.056656) with: {'C': 2.0, 'kernel': 'rbf'}
0.804493 (0.016714) with: {'C': 2.0, 'kernel': 'sigmoid'}

In [93]:
  
print("Best model with hyperparameter tuning: %s using %s" % (grid_result.best_score_, grid_result.best_params_))

Best model with hyperparameter tuning: 0.8207373564312456 using {'C': 1.3, 'kernel': 'sigmoid'}